<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,                                 Microsoft.Practices.Unity.Configuration" />
  
  
    
    
    
    </configSections>

  <unity configSource="unity.config" />
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="SntonContext" connectionString="Password=!@#123qwe;Persist Security Info=True;User ID=sa;Initial Catalog=db_shengtong;Data Source=WIN-6E8HP6PRMF0" providerName="System.Data.SqlClient" />
    
    <!--<add name="SntonContext"
      connectionString="Data Source = 192.168.8.212;Initial Catalog = SNTON_PROD;User Id = QRIF01;Password = QRIF01;"
      providerName="System.Data.SqlClient" />-->
    <add name="SntonMesInterface" connectionString="Data Source = 192.168.8.212;Initial Catalog = SNTON_PROD;User Id = QRIF01;Password = QRIF01;" providerName="System.Data.SqlClient" />
    <add name="KjrobotInterface" connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID=sa;Initial Catalog=kjrobot;Data Source=DESKTOP-O7PJGQQ\WAS" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
